<link rel="stylesheet" href="/stylesheets/style.css" />

<body>
    <div class="form-container">
        <a href="/">Back</a>
        <div class="add-container">
    
            <form class="message-form" method="POST" action="\new">
                <h1>Add new message</h1>
                <input type="text" name="author" class="author" id="author" placeholder="Author Name ..." required />
                <textarea class="message" id="message" name="message" placeholder="add your message here ..."></textarea>
                <input type="submit" class="submit-btn" id="submit-btn" />
            </form>
        </div>
    </div>
</body>
